:root {
    --container-max-width: 1024px;
    --container-padding: 60px;
    --primary-color: #29374E;
    --secondary-color: #0962E8;
}


body {
    padding: 0; margin: 0;
    font-family: Inter;
    color: var(--primary-color)
}

.main {
}

.header {
    background-color: #CBECFF;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.header .container {

}

.header .split {
    position: absolute;
    min-height: 650px;
    width: calc(100%);
    display: flex;
    justify-content: center;
}
.header .split > div { width: 100%; max-width: calc(100% / 2); }

.header .split div.hand {
    background-image: url('../assets/hand.png');
    background-repeat: no-repeat;
    background-position: 0 -5px;
    width: 100%;
}

.header .split div.hand { padding: 0 var(--container-padding) 0 0}
.header .split div.logo { padding: 0 0 0 var(--container-padding); z-index: 100; }

.header .split div.hand > div {max-width: calc(512px + 50px)}
.header .split div.logo > div {
    max-width: 512px;
    float: right;
    margin: 62px 0 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.6px;
}

.header .split div.hand .toggle.lang { float: right; margin: 22px 0 0 0 }


.toggle { display: inline-block }
.toggle input { display: none }
.toggle input + span { border-radius: 12px; padding: 2px 5px; cursor: pointer }
.toggle input:checked + span { color: var(--secondary-color); background: #fff; }


.header h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 83.2px;
}

.header .logo h1 span {
    letter-spacing: 0.006em;
    background: #fff;
    border-radius: 20px;
    padding: 1px 24px;
    color: var(--secondary-color);
    margin: 0 0 0 6px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 532px 0 0 0;
    position: relative;
    top: 38px
}

.header .container > div {
    max-width: 241px;
    min-height: 118px;
    background: #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    box-shadow: 6px 4px 12px 0 #0000000D;
    z-index: 100;
}

.header .container > div p { margin: 16px 0 0 16px; float: left; max-width: 172px }
.header .container > div figure {
    float: right;
    width: 37px;
    height: 37px;
    background: #EFF9FF;
    margin: 16px 16px 0 0;
    border-radius: 18.5px;
    text-align: center;
}

.header .container > div figure img {position: relative; top: 6.5px}


button {
    background: var(--secondary-color);
    width: 199px;
    height: 52px;
    border-radius: 8px;
    border: 0 none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: center;
    padding: 0;
}


body > .container h1 {
    margin: 120px 0 0 0;
    font-size: 38px;
    font-weight: 500;
    line-height: 49.4px;
    letter-spacing: -0.03em;
    text-align: center;
}

body > .container h1 span { color: var(--secondary-color) }

body > .container .products { display: flex; justify-content: space-between }
body > .container .products > div {
    overflow: hidden;
    width: 100%;
    max-width: 502px;
    height: 328px;
    border-radius: 30px;
    background: #E9F6FF;
}
body > .container .products figure { margin: 20px 20px 0; }
body > .container .products > div img { max-width: 218px; float: right }

body > .container .products h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #000
}
body > .container .products h4 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}


body > .container .features { display: flex; justify-content: space-between }
body > .container .features > div {
    width: 100%;
    max-width: 502px;
}

body > .container .features h1 { text-align: left }
body > .container .features p {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
}

body > .container .features div.list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 120px 0 0 0;
}

body > .container .features div.list > div {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
}

body > .container .features div.list > div figure {
    margin: 0;
}
